.yellowtail-regular {
    font-family: "Yellowtail", cursive;
    font-weight: 400;
    font-style: normal;
  }
h1{
    font-family: "Style Script", cursive;
    font-weight: 10;
    font-style: normal;
    
}

h2 b{
    font-family: "Style Script", cursive;
    font-weight: 100;
    font-style: normal;
}
nav {
    font-family: "Style Script", cursive;
    font-weight: 100;
    font-style: normal;
}

.carousel-item{
    width: 100%;
}
.carousel-inner{
    width:100%;
  }
.carousel-item img{
    width: auto;
    max-height: 300px;
}
.col {
    border: black 5px solid;
    margin-top: 2.5%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    background-color: rgb(236, 202, 202);
    color: white;
    
}
.col img{
    margin: .5%;
    height: 212px;
    width: 212px;
}
.col p{
    color: black;
}
.accordion-header{
    font-family: "Style Script", cursive;
    font-weight: 100;
    font-style: normal;
}
.accordion-body{
    background-color: black;
}
.accordion-body img{
    width: 212px;
    height: 212px;
}
.accordion-section{
    border: dashed black 2px; 
    background-color: white;
}
.accordion-section img{
    border: black solid 1px; 
    margin: 3px;
}
.HoursofOperation{
    font-family: "Style Script", cursive;
    font-weight: 100;
    font-style: normal;
    margin: 1%;
}
.HoursofOperation li{
    font-size:x-large;
    
}
.HoursofOperation p{
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.google-maps {
    margin: 1%;
    position: relative;

}

.google-maps iframe {
    border-radius: 15%;
    height: 80%;
    width: 80%;
    position: absolute;
}
.container{
    display: flexbox;
    flex-wrap: wrap;
}
#left {
    float:left;
}
#right {
    float:right;
}
#center {
    text-align:center;
}
section {
    height: 50%;
    width: 20%;
    align-self:self-end;
    text-align: center;
    background-color: white;
    border: solid black 2px;
    

}




/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

    .StoreImage{
        margin-left: 25%;
        margin-right: 25%;
}
    .google-maps{
        margin-left: 25%;
        margin-right: 25%;
        position: relative;
    }
    .google-maps iframe {
        height: 50%;
        width: 50%;
        position: absolute;
        
    }
    .HoursofOperation {
        margin-left: 25%;
        margin-right: 25%;
        
    }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}